<div class="pre-scrollable">
  <div class="media">
    <div class="media-left pull-left">
      <a href="#">
        <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="imgs/profile_icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="Croaked.html">Croaked - A Multiplayer Arcade Game</a></h4>
      A 2d arcade web game written with javascript, node.js and the Phaser.io framework.
    </div>
  </div>
  <div class="media">
    <div class="media-left pull-left">
      <a href="#">
        <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="imgs/profile_icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="AIBehaviourModels.html">AI Behaviour Models: A Practical Example</a></h4>
      A simple Phasio.io game written in JavaScript to show a finite state machine AI and a Utility System AI in action.
    </div>
  </div>
  <div class="media">
    <div class="media-left pull-left">
      <a href="#">
        <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="imgs/profile_icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="InExile.html">InExile</a></h4>
      2D brawler platformer written in JavaScript using the Phaser.io framework
    </div>
  </div>
  <div class="media">
    <div class="media-left pull-left">
      <a href="#">
        <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="imgs/profile_icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="MapGenerator.html">Map Generator and A* AI</a></h4>
      A 2d procedural map generator written in javascript with the Phaser.io framework. Contains an A* pathfinder AI to show each map is valid.
    </div>
  </div>
  <div class="media">
    <div class="media-left pull-left">
      <a href="#">
        <img alt="64x64" class="media-object" data-src="holder.js/64x64" src="imgs/profile_icon.png" data-holder-rendered="true" style="width: 64px; height: 64px;">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><a href="EditorTools.html">Escc.Umbraco.EditorTools</a></h4>
      Adds a new section to the Umbraco back office that displays additional information and tools for editors.
    </div>
  </div>
</div>
